.login {
    display: grid;
    place-items: center;
    margin-top: 35vh;
    height: auto;
}

.login > img {
    width: 55px;
    height: 55px;
}

.login > a {
    padding: 20px;
    background-color: blueviolet;
    border-radius: 75px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}